/* .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.col.sub {
  border: 1px solid gray;
}

.col.main {
  border: 1px solid black;
} */
.col {
  padding: 10px;
}

.col.sub {
  border: 1px solid gray;
}

.col.main {
  border: 1px solid black;
}
