.main-row {
  display: grid;
  background-color: rgb(70, 111, 125); /* setting the main row to light blue */
  gap: 2px;
  margin-bottom: 10px;
  padding: 8px;
  width: 820px;
}

.main-col {
  display: grid;
  /* width: 800px; */
}

.child-row {
  display: flex;
  margin: 2px;
}

.child-col {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.511);
  padding: 8px;
  width: 390px;
  flex: 1; 
  word-wrap: break-word;
}


.main-row:not(:last-child) {
  margin-bottom: 16px;
}

