/* .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row.sub {
  border-bottom: 1px solid gray;
}

.row.main {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
} */
.row {
  display: grid;  /* Change flex to grid */
  grid-template-columns: 1fr 1fr;  /* 2 columns of equal width */
  gap: 10px;
}

.row.sub {
  border-bottom: 1px solid gray;
}

.row.main {
  border-bottom: 1px solid black;
  margin-bottom: 10px; /* Whitespace between main rows */
}
